
.spinner {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 20px 0;
}

.bubble-1,
.bubble-2 {
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: gold;
}

.bubble-2 {
    top: auto;
    bottom: 0;
}

.spinner {
    animation: loadingI 2s linear infinite;
}
.bubble-1,
.bubble-2 {
    animation: bounce 2s ease-in-out infinite;
}
.bubble-2 {
    animation-delay: -1s;
}


@keyframes loadingI {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}

.hide {
    display: none;
}

