.wrapper {
    padding: 30px;
    margin: 0 auto;
    background: black;
    color: gold;
}

.id {
    font-size: 30px;
    display: block;
    margin-bottom: 15px;
}

.title {
    font-size: 35px;
    margin-bottom: 20px;
}

.opening {
    font-size: 20px;
    line-height: 23px;
}

.char-list {
    margin-bottom: 20px;
}